body{
    margin: 0;
    padding: 10;
    font-family: sans-serif;
    overflow: scroll;
    background-color: #00b4d8;
}
.contentBox{
    position: relative;
    width: calc(750px - 30px);
    height: calc(600px - 30px);
    background: lightblue;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px 20px 20px 50px;
}

.contentBox h1{
    margin-top: 20;
    font-weight: bold;
    text-align: center;
    color: white;
    transition: all .2s ease-in-out;
    padding: 25px 0px 0px 25px;
}
.contentBox h1:hover{
    color: white;
    background: lightblue;
    box-shadow: grey;
    transition-delay: 0.2s;
    transform: scale(1.1);
    cursor: pointer;

}
.missionBox{
    position: relative;
    width: calc(671px - 30px);
    height: calc(300px - 30px);
    background: lightblue;
    float: right;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.missionBox h1{
    margin-top: 20;
    font-weight: bold;
    text-align: center;
    color: white;
    transition: all .2s ease-in-out;
    padding: 25px 0px 0px 25px;
}
.missionBox h1:hover{
    color: white;
    background: lightblue;
    box-shadow: grey;
    transition-delay: 0.2s;
    transform: scale(1.1);
    cursor: pointer;

}
.vissionBox{
    position: relative;
    width: calc(671px - 30px);
    height: calc(300px - 30px);
    background: lightblue;
    float: right;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.vissionBox h1{
    margin-top: 20;
    font-weight: bold;
    text-align: center;
    color: white;
    transition: all .2s ease-in-out;
    padding: 25px 0px 0px 25px;
}
.vissionBox h1:hover{
    color: white;
    background: lightblue;
    box-shadow: grey;
    transition-delay: 0.2s;
    transform: scale(1.1);
    cursor: pointer;

}
.AboutUsText{
    position: relative;
    width: calc(1425px - 30px);
    height: calc(400px - 30px);
    background: lightblue;
    float: right;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.AboutUsText h1{
    margin-top: 20;
    font-weight: bold;
    text-align: center;
    color: white;
    transition: all .2s ease-in-out;
    padding: 25px 0px 0px 25px;
}
.AboutUsText h1:hover{
    color: white;
    background: lightblue;
    box-shadow: grey;
    transition-delay: 0.2s;
    transform: scale(1.1);
    cursor: pointer;

}
.Team{
    position: relative;
    width: calc(1000px - 30px);
    height: calc(400px - 30px);
    background: lightblue;
    float: right;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.Team h1{
    margin-top: 20;
    font-weight: bold;
    text-align: center;
    color: white;
    transition: all .2s ease-in-out;
    padding: 25px 0px 0px 25px;

}
.Team h1:hover{
    color: white;
    background: lightblue;
    box-shadow: grey;
    transition-delay: 0.2s;
    transform: scale(1.1);
    cursor: pointer;

}
.TeamImage{
    position: relative;
    width: calc(420px - 30px);
    height: calc(400px - 30px);
    background: lightblue;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.TeamImage h1{
    margin-top: 20;
    font-weight: bold;
    text-align: center;
    color: white;
    transition: all .2s ease-in-out;
    padding: 25px 0px 0px 25px;

}
.TeamImage h1:hover{
    color: white;
    background: lightblue;
    box-shadow: grey;
    transition-delay: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

#About-Us{
    color: white;
    text-align: left;
    font-size: 4vw;
    padding: 50px 0px 10px 70px;
}

#Info-About-Us{
    color: white;
    text-align: left;
    font-size: 1.5vw;
    padding: 35px 70px 100px 70px;
}

.aboutUsContent{
    max-width: 100%;
    max-height: 100%;
    background: url("") no-repeat center;
    padding-bottom: 100px;
}

.info-cluster{
    width: 100%;
    float: left;
    background-color: white ;
    padding: 2.5em;

}

.info{
    width: 28%;
    margin: 2em;
    float: left;
    text-align: center;
    color: #00b4d8;
}

.info-para{
    color: #00b4d8;
    text-align: center;
}

@media screen and (max-width: 830px){
    .info{
    width: 100%;}

}

.info h3{
    font-size:3vw;
}